<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="flex-s-a">
    <% for (let thing of lists) { %> 
        <div class="product-box box-3 box-i-4 box-m-6 bpx-p-12">
            <div class="title">
                <h1 class="product__title"><%= thing.name %></h1>
            </div>
            <div class="image">
                <img src="<%= thing.imageUrl %>" alt="<%= thing.name %>">
            </div>
            <div class="text">
                <p><%= thing.description %></p>
            </div>
            <div class="tags">
                    <% for (let tag of thing.tags) { %>
                        <p><%= tag %></p>
                    <% } %>
            </div>   
        </div>
    <% } %>
    </div>
</body>
</html>